<section class="main-container padding-bottom-clear">
    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">
                <h1 class="title">About Us</h1>
                <div class="separator-2"></div>
                <div class="row">
                    <div class="col-md-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus illo vero cupiditate, sed enim voluptatibus provident consectetur. Quo dolor sunt nostrum, eligendi illo accusamus odit, ipsam excepturi voluptatem nulla minus.</p>
                        <p>Blanditiis aspernatur, non quasi, maxime corporis officiis quia. Cupiditate, voluptatibus ducimus, natus, labore mollitia dolorem incidunt voluptatum, delectus eius fugit porro placeat animi voluptatem autem hic eligendi sint. Amet pariatur odit repudiandae sunt. Rem ipsum dolor sit amet, consectetur adipisicing elit. Sunt asperiores a.</p>
                        <ul class="list-icons">
                            <li><i class="icon-check-1"></i> We are here to support you</li>
                            <li><i class="icon-check-1"></i> Free updates</li>
                            <li><i class="icon-check-1"></i> Unlimited options and variations</li>
                            <li><i class="icon-check-1"></i> ipsam asperiores fugiat quo</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="overlay-container overlay-visible">
                            <img src="images/page-about-2.jpg" alt="">
                            <div class="overlay-bottom hidden-xs">
                                <div class="text">
                                    <h3 class="title">We Love To Code</h3>
                                </div>
                            </div>
                            <a href="images/page-about-2.jpg" class="popup-img overlay-link" title="image title"><i class="icon-plus-1"></i></a>
                        </div>
                    </div>
                </div>
                <h2 class="title">Why <strong>Choose Us</strong></h2>
                <div class="separator-2"></div>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Perferendis tenetur beatae adipisci atque.</p>
                <div class="row">
                    <div class="col-md-6">
                        <!-- accordion start -->
                        <!-- ================ -->
                        <div class="panel-group collapse-style-2" id="accordion-2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseOne-2">
                                            <i class="fa fa-bold pr-10"></i>Bootstrap Based
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne-2" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseTwo-2" class="collapsed">
                                            <i class="fa fa-leaf pr-10"></i>Clean &amp; powerful code
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo-2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseThree-2" class="collapsed">
                                            <i class="fa fa-html5 pr-10"></i>HTML5/CSS3
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree-2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- accordion end -->
                    </div>
                    <div class="col-md-6">
                        <!-- tabs start -->
                        <!-- ================ -->
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs style-1" role="tablist">
                            <li class="active"><a href="#htab1" role="tab" data-toggle="tab"><i class="fa fa-home pr-10"></i>Very Flexible</a></li>
                            <li><a href="#htab2" role="tab" data-toggle="tab"><i class="fa fa-user pr-10"></i>Top Notch 24/7 Support</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="htab1">
                                <h3>Very Flexible</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere hic qui non placeat ad explicabo dignissimos amet iusto veniam!</p>
                                <p>Quo expedita tempore modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
                                <a href="page-services.html" class="btn btn-default margin-clear">Read more</a>
                            </div>
                            <div class="tab-pane fade" id="htab2">
                                <h3>Top Notch 24/7 Support</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere hic qui non placeat ad explicabo dignissimos amet iusto veniam!</p>
                                <p>Quo expedita tempore modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
                                <a href="page-services.html" class="btn btn-default margin-clear">Read more</a>
                            </div>
                        </div>
                        <!-- tabs end -->
                    </div>
                </div>
            </div>
            <!-- main end -->
        </div>
    </div>
    <!-- section end -->

</section>
<!-- main-container end -->

            <!-- section start -->
<!-- ================ -->
<section class="pv-40 stats padding-bottom-clear light-translucent-bg hovered background-img-5">
    <div class="clearfix">
        <div class="col-md-3 col-xs-6 text-center">
            <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                <span class="icon dark-bg circle"><i class="fa fa-diamond"></i></span>
                <h3><strong>Projects</strong></h3>
                <span class="counter" data-to="1525" data-speed="5000">0</span>
            </div>
        </div>
        <div class="col-md-3 col-xs-6 text-center">
            <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                <span class="icon dark-bg circle"><i class="fa fa-users"></i></span>
                <h3><strong>Clients</strong></h3>
                <span class="counter" data-to="1225" data-speed="5000">0</span>
            </div>
        </div>
        <div class="col-md-3 col-xs-6 text-center">
            <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                <span class="icon dark-bg circle"><i class="fa fa-cloud-download"></i></span>
                <h3><strong>Downloads</strong></h3>
                <span class="counter" data-to="12235" data-speed="5000">0</span>
            </div>
        </div>f
        <div class="col-md-3 col-xs-6 text-center">
            <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                <span class="icon dark-bg circle"><i class="fa fa-share"></i></span>
                <h3><strong>Shares</strong></h3>
                <span class="counter" data-to="15002" data-speed="5000">0</span>
            </div>
        </div>
    </div>
</section>
<!-- section end -->