<!-- banner start -->
<!-- ================ -->
<div class="banner clearfix">
    <!-- slideshow start -->
    <!-- ================ -->
    <div class="slideshow">
        <!-- slider revolution start -->
        <!-- ================ -->
        <div class="slider-banner-container">
            <div class="slider-banner-fullwidth-big-height">
                <ul class="slides">
                    <!-- slide 1 start -->
                    <!-- ================ -->
                    <li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="500" data-saveperformance="on" data-title="Texas Husky Rescue">
                        <!-- main image -->
                        <img src="images/slider1.jpg" alt="slidebg1" data-bgposition="center top" data-bgrepeat="no-repeat" data-bgfit="cover">
                        <!-- Transparent Background -->
                        <div class="tp-caption dark-translucent-bg"
                             data-x="center"
                             data-y="bottom"
                             data-speed="600"
                             data-start="0">
                        </div>
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption sfb fadeout large_white"
                             data-x="left"
                             data-y="150"
                             data-speed="500"
                             data-start="1000"
                             data-easing="easeOutQuad"
                             data-end="10000">
                            Texas Husky Rescue
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption sfb fadeout text-left medium_white"
                             data-x="left"
                             data-y="230"
                             data-speed="500"
                             data-start="1300"
                             data-easing="easeOutQuad"
                             data-endspeed="600">
                            <span class="icon default-bg circle small hidden-xs"><i class="fa fa-laptop"></i></span> Founded in May 2009
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption sfb fadeout text-left medium_white"
                             data-x="left"
                             data-y="290"
                             data-speed="500"
                             data-start="1600"
                             data-easing="easeOutQuad"
                             data-endspeed="600">
                            <span class="icon default-bg circle small hidden-xs"><i class="icon-check"></i></span> Over 1400 Huskies Rescued - Sept 2016
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption sfb fadeout text-left medium_white"
                             data-x="left"
                             data-y="350"
                             data-speed="500"
                             data-start="1900"
                             data-easing="easeOutQuad"
                             data-endspeed="600">
                            <span class="icon default-bg circle small hidden-xs"><i class="icon-gift"></i></span> $700,000+ Spent on Husky Care Since 2009
                        </div>
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption sfb fadeout text-left medium_white"
                             data-x="left"
                             data-y="410"
                             data-speed="500"
                             data-start="2200"
                             data-easing="easeOutQuad"
                             data-endspeed="600">
                            <span class="icon default-bg circle small hidden-xs"><i class="icon-hourglass"></i></span> 100% Volunteer Run
                        </div>
                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption sfb fadeout small_white"
                             data-x="left"
                             data-y="480"
                             data-speed="500"
                             data-start="2500"
                             data-easing="easeOutQuad"
                             data-endspeed="600">
                            <a asp-area="" asp-controller="Donate" asp-action="Index" class="btn btn-default-transparent btn-lg btn-animated">Donate <i class="fa fa-dollar"></i></a>
                        </div>
                    </li>
                    <!-- slide 1 end -->
                    <!-- slide 2 start -->
                    <!-- ================ -->
                    <li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="500" data-saveperformance="on" data-title="Foster a Husky">
                        <!-- main image -->
                        <img src="images/slider2.jpg" alt="slidebg2" data-bgposition="center top" data-bgrepeat="no-repeat" data-bgfit="cover">
                        <!-- Transparent Background -->
                        <div class="tp-caption dark-translucent-bg"
                             data-x="center"
                             data-y="bottom"
                             data-speed="600"
                             data-start="0">
                        </div>
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption sfb fadeout large_white"
                             data-x="right"
                             data-y="150"
                             data-speed="500"
                             data-start="1000"
                             data-easing="easeOutQuad"
                             data-end="10000">
                            Fostering a Husky Is Saving a Life
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption sfb fadeout text-right medium_white"
                             data-x="right"
                             data-y="230"
                             data-speed="500"
                             data-start="1300"
                             data-easing="easeOutQuad"
                             data-endspeed="600">
                            <span class="icon default-bg circle small hidden-xs"><i class="fa fa-save"></i></span> Every dog deserves a loving home even if temporary
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption sfb fadeout text-left medium_white"
                             data-x="right"
                             data-y="290"
                             data-speed="500"
                             data-start="1600"
                             data-easing="easeOutQuad"
                             data-endspeed="600">
                            <span class="icon default-bg circle small hidden-xs"><i class="icon-heart"></i></span> Provide a Foster With Needed Stability, Love, and Trust
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption sfb fadeout text-left medium_white"
                             data-x="right"
                             data-y="350"
                             data-speed="500"
                             data-start="1900"
                             data-easing="easeOutQuad"
                             data-endspeed="600">
                            <span class="icon default-bg circle small hidden-xs"><i class="icon-play-outline"></i></span> Fosters Have a Higher Chance Of Being Adopted
                        </div>
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption sfb fadeout text-left medium_white"
                             data-x="right"
                             data-y="410"
                             data-speed="500"
                             data-start="2200"
                             data-easing="easeOutQuad"
                             data-endspeed="600">
                            <span class="icon default-bg circle small hidden-xs"><i class="icon-waves"></i></span> Fostering is Flexible
                        </div>
                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption sfb fadeout small_white"
                             data-x="right"
                             data-y="480"
                             data-speed="500"
                             data-start="2500"
                             data-easing="easeOutQuad"
                             data-endspeed="600">
                        <a asp-area="" asp-controller="Foster" asp-action="Index" class="btn btn-default-transparent btn-lg btn-animated ">Foster <i class="fa fa-check"></i></a>
                            
                        </div>
                    </li>
                    <!-- slide 2 end -->
                    <!-- slide 3 start -->
                    <!-- ================ -->
                    <li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="500" data-saveperformance="on" data-title="Rescueing Since 2009">
                        <!-- main image -->
                        <img src="images/slider3.jpg" alt="slidebg3" data-bgposition="center top" data-bgrepeat="no-repeat" data-bgfit="cover">
                        <!-- Transparent Background -->
                        <div class="tp-caption dark-translucent-bg"
                             data-x="center"
                             data-y="bottom"
                             data-speed="600"
                             data-start="0">
                        </div>
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption sfb fadeout large_white"
                             data-x="left"
                             data-y="150"
                             data-speed="500"
                             data-start="1000"
                             data-easing="easeOutQuad"
                             data-end="10000">
                            Adopt a Husky
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption sfb fadeout text-left medium_white"
                             data-x="left"
                             data-y="230"
                             data-speed="500"
                             data-start="1300"
                             data-easing="easeOutQuad"
                             data-endspeed="600">
                            <span class="icon default-bg circle small hidden-xs"><i class="fa fa-laptop"></i></span> Energetic companions who will love you until the end of time
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption sfb fadeout text-left medium_white"
                             data-x="left"
                             data-y="290"
                             data-speed="500"
                             data-start="1600"
                             data-easing="easeOutQuad"
                             data-endspeed="600">
                            <span class="icon default-bg circle small hidden-xs"><i class="icon-check"></i></span> They are an intelligent breed that offers pure entertainment in a buddy for life
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption sfb fadeout text-left medium_white"
                             data-x="left"
                             data-y="350"
                             data-speed="500"
                             data-start="1900"
                             data-easing="easeOutQuad"
                             data-endspeed="600">
                            <span class="icon default-bg circle small hidden-xs"><i class="icon-gift"></i></span> Never a dull moment
                        </div>
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption sfb fadeout text-left medium_white"
                             data-x="left"
                             data-y="410"
                             data-speed="500"
                             data-start="2200"
                             data-easing="easeOutQuad"
                             data-endspeed="600">
                            <span class="icon default-bg circle small hidden-xs"><i class="icon-hourglass"></i></span> A lifelong enjoyment of vacuuming!
                        </div>
                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption sfb fadeout small_white"
                             data-x="left"
                             data-y="480"
                             data-speed="500"
                             data-start="2500"
                             data-easing="easeOutQuad"
                             data-endspeed="600">
                            <a asp-area="" asp-controller="Adopt" asp-action="Index" class="btn btn-default-transparent btn-lg btn-animated ">Adopt A Husky <i class="fa fa-check"></i></a>
                        </div>
                    </li>
                    <!-- slide 3 end -->
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
        <!-- slider revolution end -->
    </div>
    <!-- slideshow end -->
</div>
<!-- banner end -->
<div id="page-start"></div>
<!-- section start -->
<!-- ================ -->
<section class="section light-gray-bg pv-30 padding-bottom-clear clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <span class="icon without-bg"><i class="fa text-default fa-heart-o"></i></span>
                    <div class="body">
                        <h4 class="title">Support TXHR</h4>
                        @*<p class="text-muted">You can support TXHR </p>*@
                        <ul class="list-unstyled">
                            <li><a href="https://smile.amazon.com/" target="_blank">Shop via Amazon Smile<i class="pl-5 fa fa-angle-double-right"></i></a></li>
                            <li><a href="http://www.igive.com/TexasHuskyRescue" target="_blank">Shop with iGive<i class="pl-5 fa fa-angle-double-right"></i></a></li>
                            <li><a href="http://www.cafepress.com/+texas-husky-rescue+gifts" target="_blank">Shop on CafePress<i class="pl-5 fa fa-angle-double-right"></i></a></li>
                            <li><a href="https://barkbox.com" target="_blank">BarkBox - Use TXHUSKY<i class="pl-5 fa fa-angle-double-right"></i></a></li>
                            <li><a href="https://www.dogtagart.com" target="_blank">Dog Tag Art - Use TXHUSKYAU<i class="pl-5 fa fa-angle-double-right"></i></a></li>
                            <li><a href="http://www.wooftrax.com/" target="_blank">WoofTrax<i class="pl-5 fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
                    <span class="icon without-bg"><i class="fa text-default fa-bullhorn"></i></span>
                    <div class="body">
                        <h4 class="title">Foster, Volunteer, Donate</h4>
                        <p class="text-muted"></p>
                        <ul class="list-unstyled">
                            <li><a asp-area="" asp-controller="Foster" asp-action="Index">Foster Huskies<i class="pl-5 fa fa-angle-double-right"></i></a></li>
                            <li><a asp-area="" asp-controller="Volunteer" asp-action="Index">Volunteer in Many Ways<i class="pl-5 fa fa-angle-double-right"></i></a></li>
                            <li><a asp-area="" asp-controller="Donate" asp-action="Index">Donate<i class="pl-5 fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                    <span class="icon without-bg"><i class="fa text-default icon-adjust"></i></span>
                    <div class="body">
                        <h4 class="title">2016 Golf Tournament</h4>
                        <p class="text-muted">We'd like to invite you to be part of Texas Husky Rescue's 6<sup>th</sup> Annual Golf Tournament.  This is a great opportunity for you and your business to gain great exposure all while helping a worthy cause.  And what an outstanding course to play - <a href="http://www.coyoteridgegolfclub.com/" target="_blank">Coyote Ridge Golf Club</a>!  You don't want to miss this opportunity, so please consider supporting us by playing, sponsoring or donating.</p>
                        <a asp-area="" asp-controller="Golf" asp-action="Index">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->
<!-- section start -->
<!-- ================ -->
<section class="section clearfix">
    <div class="container">
        <h3>Why <strong>Adopt</strong> a Husky?</h3>
        <div class="separator-2"></div>
        <div class="row">
            <div class="col-md-6">
                <!-- accordion start -->
                <!-- ================ -->
                <div class="panel-group collapse-style-1" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <i class="fa fa-bold pr-10"></i>You Want a High-Energy Dog
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                explain
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                                    <i class="fa fa-leaf pr-10"></i>You Want an Escape Artist
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                explain
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                                    <i class="fa fa-html5 pr-10"></i>You Do NOT Want a Watchdog
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                explain
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed">
                                    <i class="fa fa-life-ring pr-10"></i>You Love Cleaning
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                Huskies do not shed much except twice a year when they bow their undercoat. A husky's undercoat insulates them from the heat of the summer and the cold of the winter. Huskies cannot be shaved because they would lose their insulation and get sun burned.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- accordion end -->
            </div>
            <div class="col-md-6 space-bottom">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/q6tGwQhGDmE"></iframe>
                    <p><a href="https://www.youtube.com/user/TxHR">View more videos from Texas Husky Rescue</a>.</p>
                </div>
            </div>
        </div>
        <h3>Our Biggest <strong>Sponsors and Donors</strong></h3>
        <div class="separator-2"></div>
        <div class="row grid-space-10">
            <div class="col-sm-6 col-md-3">
                <div class="image-box style-2 mb-20 bordered text-center">
                    <div id="carousel-portfolio" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators top">
                            <li data-target="#carousel-portfolio" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-portfolio" data-slide-to="1"></li>
                            <li data-target="#carousel-portfolio" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="overlay-container">
                                    <img src="images/sponsor-allcare.png" alt="">
                                    <div class="overlay-to-top">
                                        <p class="small margin-clear">
                                            <a href="http://www.allcarevet.com/">
                                            <em>Web Site <br></em>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="overlay-container">
                                    <img src="images/sponsor-crossroads-vet.png" alt="">
                                    <div class="overlay-to-top">
                                        <p class="small margin-clear">
                                            <a href="http://crossroadspethospital.vetstreet.com/">
                                                <em>Web Site <br></em>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="overlay-container">
                                    <img src="/images/sponsor-aggieland-vet.png" alt="">
                                    <div class="overlay-to-top">
                                        <p class="small margin-clear">
                                            <a href="http://www.aggielandanimalhealthcenter.com/">
                                                <em>Web Site <br></em>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body shadow light-gray-bg ">
                        <h3>Veterinarians</h3>
                        <div class="separator"></div>
                        <p>We <strong>LOVE</strong> the veterinarians who provide discounted services to our rescue. Without them we would not be able to save all of the huskies we do on donations alone.</p>
                        @*<a href="portfolio-item.html" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>*@
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
                    <div class="overlay-container">
                        <img src="images/sponsor-rallytorescue.jpg" alt="">
                        <div class="overlay-to-top">
                            <p class="small margin-clear"><em>400+ rescues <br> support in the Rally to Rescue network</em></p>
                        </div>
                    </div>
                    <div class="body">
                        <h3>Rally to Rescue</h3>
                        <div class="separator"></div>
                        <p>Purina "Pro Plan" provides TXHR with food, tents, financial support, and more!</p>
                        <a href="http://www.proplan.com/rally-to-rescue" target="_blank" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-sm-6 col-md-3">
                <div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
                    <div class="overlay-container">
                        <img src="images/sponsor-Google-Nonprofits.png" alt="">
                        <div class="overlay-to-top">
                            <p class="small margin-clear"><em>Google <br> for nonprofits</em></p>
                        </div>
                    </div>
                    <div class="body">
                        <h3>Google</h3>
                        <div class="separator"></div>
                        <p>Google provides tools, services (Google Apps), and financial support via grants</p>
                        <a href="http://www.google.com/nonprofits/" target="_blank" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
                    <div class="overlay-container">
                        <img src="~/images/sponsor-RVI2.png" alt="">
                        <div class="overlay-to-top">
                            <p class="small margin-clear"><em>Red Velvet <br> Bed and Breakfast in Navasota, Texas</em></p>
                        </div>
                    </div>
                    <div class="body">
                        <h3>Red Velvet Inn</h3>
                        <div class="separator"></div>
                        <p>A unique, pet-friendly bed & breakfast located in the heart of downtown Navasota, TX. A percentage of the room rates will be donated to TXHR.</p>
                        <a href="http://redvelvetinn.com/" target="_blank" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->
<!-- section start -->
<!-- ================ -->
@*<section class="section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="call-to-action well">
                    <h2 class="title">We offer more possibilities to meet your every need</h2>
                    <div class="row">
                        <div class="col-sm-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem amet voluptas accusamus, dolorum veritatis ea odio, doloremque, consequatur deleniti aut maxime quod nulla iure ut maiores.</p>
                        </div>
                        <div class="col-sm-4 text-right">
                            <a href="#" class="btn btn-lg btn-default btn-animated">Learn More<i class="fa fa-arrow-right pl-20"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- section end -->
<!-- section start -->
<!-- ================ -->
@*<section class="dark-translucent-bg background-img-5 pv-40">
    <div class="owl-carousel content-slider">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="testimonial text-center">
                        <div class="testimonial-image">
                            <img src="images/testimonial-1.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
                        </div>
                        <h3>Just Perfect!</h3>
                        <div class="separator"></div>
                        <div class="testimonial-body">
                            <blockquote>
                                <p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusan tium dolore laud antium, totam rem dolor sit amet tristique pulvinar, turpis arcu rutrum nunc, ac laoreet turpis augue a justo.</p>
                            </blockquote>
                            <div class="testimonial-info-1">- Jane Doe</div>
                            <div class="testimonial-info-2">By Company</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="testimonial text-center">
                        <div class="testimonial-image">
                            <img src="images/testimonial-2.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
                        </div>
                        <h3>Amazing!</h3>
                        <div class="separator"></div>
                        <div class="testimonial-body">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cupiditate deleniti ratione in. Expedita nemo, quisquam, fuga adipisci omnis ad mollitia libero culpa nostrum est quia eos esse vel!</p>
                            </blockquote>
                            <div class="testimonial-info-1">- Jane Doe</div>
                            <div class="testimonial-info-2">By Company</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- section end -->
