
<!-- main-container start -->
<section class="main-container">
    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12 space-bottom">
                <p class="lead">Thank you for contacting Texas Husky Rescue!</p>
                <p class="lead">We will be in contact with you in the next 48 hours.</p>
            </div>
            <!-- main end -->
        </div>
    </div>
</section>
<!-- main-container end -->

