<!-- main-container start -->
<!-- ================ -->
<section class="main-container">
    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <!-- page-title start -->
                <!-- ================ -->
                <h1 class="page-title text-center">Adoption Process</h1>
                <div class="separator"></div>
                <!-- page-title end -->
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <img src="~/images/Huskies/FaceShot_10.jpg" class="img-responsive center-block" />
                    </div>
                    <div class="main col-md-6 col-sm-12 col-xs-12">
                        <p>
                            The adoption process has several stages to ensure our huskies are going to qualified, educated, loving forever homes.
                        </p>
                        <p>
                            All TXHR huskies are spayed or neutered, current on vaccinations, taking heartworm prevention, and are microchipped prior to adoption.
                        </p>
                        <p>
                            Adoption fees<strong>*</strong> are $300 for adult males and females; $350 for puppies under 6 months.
                            <br />
                            <strong>NOTE</strong>: $100 is non-refundable if the husky is returned during the trial period.
                            <br />
                            <strong>NOTE</strong>: There is a non-refundable application fee, currently $25, required to process your application. The fee will be applied to your adoption fee if you are approved.
                        </p>
                        <p><strong>*</strong>The fee is an extra $10 (310/360) if paying by PayPal.</p>
                        <p>
                            Pay your adoption fee <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=RNTPPJFU4E666" target="_blank">here via PayPal</a> or via a @Html.ActionLink("donation on our website here", "Index", "Donate")
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <img src="~/images/Huskies/FaceShot_36.jpg" class="img-responsive center-block" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <ul>
                            <li>
                                @Html.ActionLink("Apply Online", "Apply", "Adopt") or complete a <a href="/Forms/adoptionapplication.pdf">PDF adoption application</a>. The PDF application
                                @Html.ActionLink("can be emailed", "Contact", "Home"), faxed to 1-877-894-8759, or mailed to PO Box 118891, Carrollton, TX 75011.
                            </li>
                            <li>
                                Once your application is received, we will conduct a thorough screening process which includes a vet check of your current pets and a phone screen/interview
                                by one of our adoption coordinators.
                            </li>
                            <li>
                                After your vet check and phone screen are completed successfully, TXHR will conduct a fence/home check. This is a check for gaps, broken slats, holes,
                                compromised spots, etc where a husky could escape. Please do a walk of the perimeter of your fence and fix all problem spots before we come to your home.
                            </li>
                            <li>
                                Upon successful completion of the application process, a TXHR adoption counselor will set up a meet and greet with you and the husky you have applied
                                for. Once you determine you would like to adopt the husky, you must sign an adoption contract and pay the adoption fee before taking possession of the
                                husky.
                            </li>
                            <li>All adoptions start with a 5 day trial period to ensure the husky is a good fit in your home and lifestyle.</li>
                        </ul>
                        <br />
                        <p>
                            Download the <a href="~/Forms/adoption-contract.pdf">Adoption Contract</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- main end -->
        </div>
    </div>
</section>

<!-- main-container end -->