<!-- main-container start -->
<section class="main-container">
    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12 space-bottom">
                <p class="lead">Thank you for applying to adopt from Texas Husky Rescue!</p>
                <p class="lead">We will be in contact with you in the next 2 to 5 days.</p>
                <p>In a few moments you will receive an automated email with a copy of your application and information on your application fee.</p>
            </div>
            <!-- main end -->
        </div>
    </div>
</section>
<!-- main-container end -->
