<!-- main-container start -->
<!-- ================ -->
<section class="main-container">
    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-6 col-md-push-3">
                <!-- page-title start -->
                <!-- ================ -->
                <h1 class="page-title text-center">2016 Golf Tournament</h1>
                <h1 class="page-title text-center">Thank You For Joining the Team</h1>
                <div class="separator"></div>
                <!-- page-title end -->

                <h3>
                    Thank You for supporting Texas Husky Rescue.<br />
                    We'll see you at the golf tournament!
                </h3>

            </div>
            <!-- main end -->
            <!-- sidebar start -->
            <!-- ================ -->
            <aside class="col-md-3 col-md-pull-6">
                <div class="sidebar">
                    <div class="block clearfix">
                        <h3 class="title">Title Sponsor</h3>
                        <div class="separator-2"></div>
                        <img src="~/images/Sponsors/Red Velvet Inn.png" />
                        <p><a href="http://redvelvetinn.com/" _target="blank">THE RED VELVET INN</a> is a unique, pet-friendly bed & breakfast located in the heart of downtown Navasota, TX, just 20 minutes south of College Station and an hour north of Houston. It is located in a 120-year-old Victorian style house that was built by Charles W. Stewart, two-time mayor of Navasota, and son of Charles B. Stewart, signer of the Texas Declaration of Independence and designer of the Texas flag.</p>
                    </div>
                </div>
            </aside>
            <!-- sidebar end -->
            <!-- sidebar start -->
            <!-- ================ -->
            <aside class="col-md-3">
                <div class="sidebar">
                    <div class="block clearfix">
                        <h3 class="title">Golf menu</h3>
                        <div class="separator-2"></div>
                        <nav>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a asp-area="" asp-controller="Golf" asp-action="Index">Golf Home</a></li>
                                <li><a asp-area="" asp-controller="Golf" asp-action="Register">Register</a></li>
                                <li><a asp-area="" asp-controller="Golf" asp-action="Sponsors">Sponsors</a></li>
                                <li><a asp-area="" asp-controller="Golf" asp-action="Sponsorships">Sponsorships</a></li>
                                <li><a asp-area="" asp-controller="Golf" asp-action="RaffleAuction">Auction</a></li>
                                <li><a asp-area="" asp-controller="Golf" asp-action="Support">Supporting TXHR</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </aside>
            <!-- sidebar end -->
        </div>
    </div>
</section>
<!-- main-container end -->
