            <!-- main-container start -->
<!-- ================ -->
<section class="main-container">
    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-6 col-md-push-3">
                <!-- page-title start -->
                <!-- ================ -->
                <h1 class="page-title text-center">2016 Golf Tournament</h1>
                <h1 class="page-title text-center">Sponsorships</h1>
                <div class="separator"></div>
                <!-- page-title end -->
                <p>
                    Texas Husky Rescue would like to invite you to be a part of our 6th annual golf tournament being
                    held at Coyote Ridge Golf Club on Friday, September 30, 2016. This is a great opportunity to gain
                    valuable exposure for your business while supporting a very worthwhile cause – saving the lives
                    of huskies in need!
                </p>

                <p>
                    Texas Husky Rescue, Inc. was established in May 2009 to help save homeless, abused and
                    neglected huskies and adopt them in to permanent and loving forever homes. We are a nonprofit
                    501(c)3 organization run entirely by dedicated volunteers with no paid staff or shelter. We
                    rely on our network of foster families to give temporary homes until permanent homes can be
                    found. TXHR provides all necessary vetting and medical care to each husky taken in to our
                    program and we are a responsible rescue group in that we spay/neuter every husky prior to
                    adoption. We also strive to educate the public and potential adopters about the unique
                    characteristics of the husky breed. We are proud to have saved over 1,300 huskies to date!
                </p>

                <p>
                    Fundraising and donations are essential in allowing us to continuing our work. With adoption
                    fees only covering approximately 46% of expenses spent directly on our dogs, we simply cannot
                    do what we do without the generosity of our supporters. Our golf tournament is our largest
                    fundraiser of the year and we hope that you will consider supporting us!
                </p>

                <p>
                    How can you help?
                    <ul>
                        <li>Become an official sponsor! Our sponsorship packages are attached for your review.</li>
                        <li>Donate an auction item or raffle prize!</li>
                        <li>Register to play! And invite your friends, family and co-workers to play!</li>
                    </ul>
                    We hope that you will you join us by donating, playing or sponsoring. We guarantee you’ll have a
                    fabulous time all while making a direct impact on the lives of huskies that desperately need it. All
                    of us at TXHR thank you in advance for your consideration and support.
                </p>

                <p>
                    <strong>
                        TXHR Golf Tournament Committee
                        <br />
                        & Board of Directors
                    </strong>
                </p>

                <h2>Sponsorship Opportunities</h2>

                <h3>Title Sponsor - $15,000</h3>
                <ul>
                    <li>Company name in event title (6th Annual Texas Husky Rescue Golf Tournament Sponsored by “Your Company”)</li>
                    <li>Company logo/name prominently displayed on event banner, in all promotional material and media exposure for tournament</li>
                    <li>Sixteen playing spots in tournament</li>
                    <li>Two reserved VIP tables for up to 16 guests</li>
                    <li>Eight dinner/banquet tickets</li>
                    <li>Company signage on all greens</li>
                    <li>Company information provided to all participants</li>
                    <li>Website (<a href="https://texashuskyrescue.org">texashuskyrescue.org</a>), social media and banquet recognition as Title Sponsor</li>
                </ul>

                <h3>Dinner Sponsor - $10,000</h3>
                <ul>
                    <li>Company logo/name displayed on all banquet tables</li>
                    <li>Company information provided to all participants</li>
                    <li>Twelve playing spots in tournament</li>
                    <li>Four dinner/banquet tickets</li>
                    <li>Website (<a href="https://texashuskyrescue.org">texashuskyrescue.org</a>), social media and banquet recognition as Dinner Sponsor</li>
                </ul>

                <h3>Contest Sponsor - $7,500</h3>
                <ul>
                    <li>Company logo/name displayed on all contest holes (minimum 3 holes)</li>
                    <li>Company information provided to all participants</li>
                    <li>Eight playing spots in tournament</li>
                    <li>Four dinner/banquet tickets</li>
                    <li>Website (<a href="https://texashuskyrescue.org">texashuskyrescue.org</a>), social media and banquet recognition as Contest Sponsor</li>
                </ul>

                <h3>Beverage Sponsor - $5,000</h3>
                <ul>
                    <li>Company logo/name displayed on beverage carts and keg/bar banquet</li>
                    <li>Company information provided to all participants</li>
                    <li>Four playing spots in tournament</li>
                    <li>Two dinner/banquet tickets</li>
                    <li>Website (<a href="https://texashuskyrescue.org">texashuskyrescue.org</a>), social media and banquet recognition as Beverage Sponsor</li>
                </ul>

                <h3>Putting Green Sponsor - $3,500</h3>
                <ul>
                    <li>Company logo/name displayed on practice putting green</li>
                    <li>Company information provided to all participants</li>
                    <li>Two playing spots in tournament</li>
                    <li>Two dinner/banquet tickets</li>
                    <li>Website (<a href="https://texashuskyrescue.org">texashuskyrescue.org</a>), social media and banquet recognition as Putting Green Sponsor</li>
                </ul>

                <h3>Silent Auction Sponsor - $2,500</h3>
                <ul>
                    <li>Company logo/name displayed on auction tables</li>
                    <li>Company information provided to all participants</li>
                    <li>Website (<a href="https://texashuskyrescue.org">texashuskyrescue.org</a>), social media and banquet recognition as Putting Green Sponsor</li>
                </ul>

                <h3>Registration Sponsor - $1,000</h3>
                <ul>
                    <li>Company logo/name displayed on registration tables</li>
                    <li>Company information provided to all participants</li>
                    <li>Website (<a href="https://texashuskyrescue.org">texashuskyrescue.org</a>), social media and banquet recognition as Putting Green Sponsor</li>
                </ul>

                <h3>Hole Sponsor - $250</h3>
                <ul>
                    <li>Company signage on one hole</li>
                    <li>Company information provided to all participants</li>
                </ul>

                <h3>Honorary Sponsor - $100</h3>
                <ul>
                    <li>Honor your furry companion(s) – we will include your pups in our tournament slide show</li>
                </ul>
            </div>
            <!-- main end -->
            <!-- sidebar start -->
            <!-- ================ -->
            <aside class="col-md-3 col-md-pull-6">
                <div class="sidebar">
                    <div class="block clearfix">
                        <h3 class="title">Title Sponsor</h3>
                        <div class="separator-2"></div>
                        <img src="~/images/Sponsors/Red Velvet Inn.png" />
                        <p><a href="http://redvelvetinn.com/" _target="blank">THE RED VELVET INN</a> is a unique, pet-friendly bed & breakfast located in the heart of downtown Navasota, TX, just 20 minutes south of College Station and an hour north of Houston. It is located in a 120-year-old Victorian style house that was built by Charles W. Stewart, two-time mayor of Navasota, and son of Charles B. Stewart, signer of the Texas Declaration of Independence and designer of the Texas flag.</p>
                    </div>
                </div>
            </aside>
            <!-- sidebar end -->
            <!-- sidebar start -->
            <!-- ================ -->
            <aside class="col-md-3">
                <div class="sidebar">
                    <div class="block clearfix">
                        <h3 class="title">Golf menu</h3>
                        <div class="separator-2"></div>
                        <nav>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a asp-area="" asp-controller="Golf" asp-action="Index">Golf Home</a></li>
                                <li><a asp-area="" asp-controller="Golf" asp-action="Register">Register</a></li>
                                <li><a asp-area="" asp-controller="Golf" asp-action="Sponsors">Sponsors</a></li>
                                <li class="active"><a asp-area="" asp-controller="Golf" asp-action="Sponsorships">Sponsorships</a></li>
                                <li><a asp-area="" asp-controller="Golf" asp-action="RaffleAuction">Auction</a></li>
                                <li><a asp-area="" asp-controller="Golf" asp-action="Support">Supporting TXHR</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </aside>
            <!-- sidebar end -->
        </div>
    </div>
</section>
<!-- main-container end -->
