            <!-- main-container start -->
<!-- ================ -->
<section class="main-container">
    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-9">
                <!-- page-title start -->
                <!-- ================ -->
                <h1 class="page-title text-center">2016 Golf Tournament</h1>
                <h1 class="page-title text-center">Sponsors</h1>
                <div class="separator"></div>
                <!-- page-title end -->
                <!-- title-sponsor start -->
                <!-- =================== -->
                <p class="lead">The Red Velvet Inn has helped support Texas Husky Rescue for Years <br> and we are proud for them to be our TITLE SPONSOR!</p>
                <div class="image-box style-3-b">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="overlay-container">
                                <img src="~/images/Sponsors/RVI2.png" alt="Red Velvet Inn">
                                <div class="overlay-to-top">
                                    <p class="small margin-clear"><em>Red Velvet Inn <br> downtown Navasota, TX</em></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="body">
                                <h3 class="title">Title Sponsor</h3>
                                <div class="separator-2"></div>
                                <p class="mb-10">THE RED VELVET INN is a unique, pet-friendly bed & breakfast located in the heart of downtown Navasota, TX, just 20 minutes south of College Station and an hour north of Houston. It is located in a 120-year-old Victorian style house that was built by Charles W. Stewart, two-time mayor of Navasota, and son of Charles B. Stewart, signer of the Texas Declaration of Independence and designer of the Texas flag.</p>
                                <a href="http://redvelvetinn.com/" _target="blank"class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-box style-3-b">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="overlay-container">
                                <img src="~/images/Sponsors/td_ameritrade_v.jpg" alt="TD Ameritrade">
                                <div class="overlay-to-top">
                                    <p class="small margin-clear"><em>TD Ameritrade</em></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <div class="body">
                                <h3 class="title">Cart Sponsor</h3>
                                <div class="separator-2"></div>
                                <p class="mb-10">TD Ameritrade, the best online broker for online stock trading, long-term investing, and retirement planning. We are proud to have them as a new sponsor for 2016</p>
                                <a href="https://www.tdameritrade.com/" target="_blank" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- title-sponsor end   -->

            </div>
            <!-- main end -->

            <!-- sidebar start -->
            <!-- ================ -->
            <aside class="col-md-3">
                <div class="sidebar">
                    <div class="block clearfix">
                        <h3 class="title">Golf menu</h3>
                        <div class="separator-2"></div>
                        <nav>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a asp-area="" asp-controller="Golf" asp-action="Index">Golf Home</a></li>
                                <li><a asp-area="" asp-controller="Golf" asp-action="Register">Register</a></li>
                                <li class="active"><a asp-area="" asp-controller="Golf" asp-action="Sponsors">Sponsors</a></li>
                                <li><a asp-area="" asp-controller="Golf" asp-action="Sponsorships">Sponsorships</a></li>
                                <li><a asp-area="" asp-controller="Golf" asp-action="RaffleAuction">Auction</a></li>
                                <li><a asp-area="" asp-controller="Golf" asp-action="Support">Supporting TXHR</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </aside>
            <!-- sidebar end -->
        </div>
    </div>
</section>
<!-- main-container end -->
