<!-- main-container start -->
<!-- ================ -->
<section class="main-container">
    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <!-- page-title start -->
                <!-- ================ -->
                <h1 class="page-title text-center">Fostering Process</h1>
                <div class="separator"></div>
                <!-- page-title end -->
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <img src="~/images/Huskies/FaceShot_10.jpg" class="img-responsive center-block" />
                    </div>
                    <div class="main col-md-6 col-sm-12 col-xs-12">
                        <p>
                            Information coming soon!
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <img src="~/images/Huskies/FaceShot_36.jpg" class="img-responsive center-block" />
                    </div>
                </div>
            </div>
            <!-- main end -->
        </div>
    </div>
</section>

<!-- main-container end -->