<!-- main-container start -->
<!-- ================ -->
<section class="main-container">
    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-lg-12 col-md-12 col-sm-12 col-xs-12 space-bottom">
                <!-- page-title start -->
                <!-- ================ -->
                <h1 class="page-title text-center">Donate to TXHR</h1>
                <h1 class="page-title text-center">Help The Huskies</h1>
                <div class="separator"></div>
                <!-- page-title end -->

                <h3>
                    Thank You for supporting Texas Husky Rescue.<br />
                </h3>
            </div>
            <!-- main end -->
        </div>
    </div>
</section>
<!-- main-container end -->
